@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center;">Leave Management System </h1>

<div class="gallery">
    <img src="~/images/image2.png" alt="" width="100%" height="auto">
      
</div>

@*<img src="~/images/leave-management.png" alt="Leave Management System">*@